# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe

# OOTB Makefile executables
mti-server
mti-client

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# local only utilities
test-dir
